@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  @include display-flex (column, default, default);
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  height: 100vh;
  backgroundImage: url('../../Assets/login-backdrop.jpg');
  /*background: blue;*/
}

.content {
  @include display-flex (column, default, default);
  flex: 1;
}
