$primary-color: #e50914;
$background-color: #0a1612;
$accent-color: rgba(236, 178, 18, 0.7);
$card-background: #141518;
$text-color: #e9e9e9;
$background-gradient: linear-gradient(to right, #e50914 1%, #000 35%);
$title-font: 'Lobster', sans-serif;
$main-font: 'Oswald', sans-serif;
$black-box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.7);
$netflix-brand-red: #e50914;