@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header_main-container {
	background: #000;
	/*background: $background-gradient;*/
	border-bottom: 0.2em solid $netflix-brand-red;
	color: $text-color;
	display: flex;
	font-family: $main-font;
  font-weight: 300;
	flex-direction: row;
	justify-content: space-between;
	height: 100px;
	width: 100%;
}

.header_button {
	height: 5vh;
	font-family: $main-font;
  font-weight: 300;
}

.header_button:hover {
	border-bottom: 4px solid #e50914;
}

.header_welcome-text {
	font-family: $main-font;
	font-size: 1em;
	margin: 0.3em 0.75em;
}

.header_welcome-text > * {
	margin: 0.5em 0;
}

.header_main-link {
	/*@include box-shadow(0 0 0 0, 0 0 1em 0);*/
	align-self: center;
	border-left: .07em solid none;
	border-radius: 1em;
	border-right: .07em solid none;
	color: $text-color;
	font-family: $title-font;
	font-size: 3rem;
	font-weight: 700;
	justify-self: center;
	text-decoration: none;
}

.header_log-button {
	@include button-style;
	justify-self: end;
	margin: 2em;
	font-size: .8rem;
	text-decoration: none;
	width: 45px;
  height: 20px;
}

.netflix_logo {
	width: 16vw;
}

.header_profile-icon {
	width: 75px;
	height: 75px;
	margin: 20% auto;
}

.selectpicker {
	border: 1px solid red;
}

/*<Link to={'/'} className="header_log-profile"
            onClick={() => props.logout() }>*/




